body{
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	color: #AE7C78;
	line-height: 20px;
	font-weight: 400;
}
li{
	display: inline;
	margin-right: 5%;
}
a{
	text-decoration: none;
	color: #AE7C78;
}
.main-header{
	width: 100%;
	height: 64px;
	text-align: center;
	border-top: 1px solid #AE7C78;
	border-bottom: 1px solid #AE7C78;
	margin-top: 26px;
	padding: 22px 0 10px 0;
}
.nav-main{
	margin: 0 auto;
}
.hspace {
	padding-right: 10%;
}
.logo {
	position: absolute;
	left: 46%;
	top: 55px;
}
.hh-1{
	font-family: Playfair Display, serif;
	color: #AE7C78;
	font-weight: normal;
	font-size: 44px;
	line-height: 58px;
}
h2{
	font-family: Playfair Display;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	color: #AE7C78;
}
h3{
	font-family: Montserrat;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	color: #AE7C78;
}
h4{
	font-family: Montserrat;
	font-size: 16px;
	font-style: normal;
	font-weight: 400;
	line-height: 20px;;
	text-align: left;
	color: #AE7C78;
}
hr{
	border: 1px solid #AE7C78;
}
span{
	font-family: Playfair Display;
	font-style: italic;
	font-weight: normal;
	line-height: 59px;
}
.l{
	width: 1440px;
	margin: 0 auto;
}
.l p{
	font-weight: normal;
	font-size: 24px;
}
dt{
	font-weight: 500;
}
dd{
	font-style: normal;
}
.l2 {
	padding-left: 75px;
	line-height: 1.3;
}
.l2>h1{
	margin-top: 81px;
}
.button {
	font-family: Montserrat;
	font-style: normal;
	font-weight: normal;
	background: #D89999;
	border-radius: 40px;
	padding: 30px 70px;
	border: none;
	color: white;
}
.butt{
	margin-top: 64px; 
}
.l1 {
	display: flex;
}
.flowers {
	position: relative;
	margin-left: 65px;
}
.flowers-1{
	margin-top: 140px;
}
.flowers-2{
	padding-bottom: 50px;
	padding-left: 20px;
}

.usl{
	width: 1440px;
	margin: 0 auto;
	display: flex;
	padding-left: 75px;
	padding-top: 48px;
}
.u1,
.u2,
.u3{
	width: 285px;
	margin-left: 20px;
}
.usl1{
	margin-left: 58px;
	margin-top: 18px;
}
dd{
	margin-left: 0;
	margin-top: 8px;
}
.slider{
	padding-top: 80px;
	text-align: center;
}
.slider p{
	font-style: normal;
}
.slider-main{
	width: 1440px;
	margin: 0 auto;
	display: flex;
}
.slider-info{
	width: 375px;
	text-align: left;
	margin: 63px 20px 51px 323px;
}
.img-slider{
	margin-top: 36px;
	margin-bottom: 24px;
}
.picture{
	
}
.picture-1{
	height: 442px;
	background: url(../img/well.jpg) no-repeat;
	position: relative;
	
}
.picture-1>.hoverpicture{
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(174, 124, 120, 0.6);
	border-radius: 10px;
	height: 442px;
	width: 387px;
}
.picture-2{
	height: 442px;
	background: url(../img/well1.jpg) no-repeat;
	position: relative;
}
.picture-2>.hoverpicture{
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(174, 124, 120, 0.6);
	border-radius: 10px;
	height: 442px;
	width: 387px;
}
.picture-3{
	height: 442px;
	background: url(../img/well3.jpg) no-repeat;
	position: relative;
}
.picture-3>.hoverpicture{
	position: absolute;
	top: 0;
	left: 0;
	background-color: rgba(174, 124, 120, 0.6);
	border-radius: 10px;
	height: 442px;
	width: 387px;
}
.picture h3{
	font-family: Playfair Display;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: 48px;
}
.picture p{
	font-style: normal;
}
.sale h3{
	font-family: Playfair Display;
	font-size: 44px;
	font-style: normal;
	line-height: 59px;
}
.sale p{
	font-size: 24px;
	font-style: normal;
	line-height: 29px;
}
.news p{
	font-size: 24px;
	font-style: normal;
	line-height: 29px;
}
blockquote{
	font-style: normal;
}
cite{
	font-style: normal;
	font-weight: 500;
}
.contacts a{
	font-style: normal;
	font-weight: 500;
}
.contacts p{
	font-style: normal;
	font-weight: 500;
}